*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ContainerGrid{
    width: 1200px;
    margin: 0 auto;
}

.FormCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.DadoCadastro{
    display: flex;
    justify-content: flex-start;
}

.InputsCadastro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 480px;
    justify-content: space-between;
}

.CampoCadastro{
    font-weight: 300;
    font-size: 25px;
    color: gray;
    width: 390px;
    height: 60px;
    border: 2px solid #1124C7;
    text-align: center;
}

.BotaoCadastro{
    width: 100%;
    height: 60px;
    background-color: blue;
    color: white;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.AlinhamentoInputsBotaoCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}