* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.ContainerGrid{
    width: 1200px;
    margin: 0 auto;
}

header{
    background-color: #B3DCF2;;
    height: 75px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

.container{
    width: 1075px;
    /*background-color: aquamarine;*/
    margin: 5px auto;
}

.logo_menor {
    height: 60px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: blanchedalmond;*/
    width: 95px;
  
}
.container_header{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 465px;
    justify-content: space-between;
}


.containerHeader{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.logo_menor {
    height: 60px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: blanchedalmond;*/
    width: 95px;
  
}

.container_main{
    display: flex;
}

.logo_meninas {
    border-radius: 50%;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 176px;
    margin-right: 65px;
}

.listagem{
    font-style: italic;
    color: rgba(0, 0, 0, 0.726);
}

.perfil{
    font-style: italic;
    color: rgba(0, 0, 0, 0.726);

}

.container_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 20vh;
    margin-left: 80px;
    
}

.unica{
    width: 18vw;
}

.unica span{
    width: 230px;
    height: 8vh;
    border: 1px solid #1124C7;
    padding: 15px 30px;
}

.info h2{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.container_input2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 381px;
    width: 53vw;
}

.container_input2 span{
    width: 230px;
    height: 8vh;
    border: 1px solid #1124C7;
    padding: 15px 30px;
}


.container_input3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-left: 381px;
    width: 53vw;
}

.container_input3 input{
    height: 7vh;
    border-color: #1124C7;
    width: 22vw;
}

.container_input4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 51px;
    margin-left: 381px;
    width: 53vw;
}

.container_input4 input{
    height: 7vh;
    border-color: #1124C7;
    width: 22vw;
}


.container_comentario{
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    margin-top: 51px;
    margin-left: 420px;
    height: 100px;
    width: 25vw;
}

.container_comentario input{
    width: 47vw;
    height: 10vh;
    border-color: #1124C7;
}

.botao_salvar{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    width: 61vw;
    margin-left: 320px;
}

.botao_salvar button{
    background-color: blue;
    width: 134px;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    box-shadow: 2px 2px 5px 0px rgb(184 184 184);

    
    
}

.webcam-btn{
    width: 100%;
    height: 60px;
    background-color: blue;
    color: white;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
} 

.container_footer{
    /* display: flex; */
    height: 13vh;
    width: 100%;
    background-color: #3293BC;
    margin-top: 10vh;
    align-items: center;
}

.contatos-endereco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;




    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.contatos{
    display: flex;
    margin-top: 5vh;
}

.contatos p{
    color: #fff;
}

.endereco{
    display: flex;
    margin-top: 5vh;
}

.endereco p{
    color: #fff;
}

.SubContainerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainPerfil{
    margin-top: 95px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ContainerPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DadosPerfil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 480px;
    justify-content: space-around;
}

.DadosPerfil span{
    font-weight: 300;
    font-size: 25px;
    color: gray;
    width: 390px;
    height: 60px;
    border: 2px solid #1124C7;
    text-align: center;
}

.FormularioComentario{
    width: 100%;
}

.FormularioComentario button{
    display: none;
}

.InputComentario{
    width: 100%;
    height: 130px;
    border: 2px solid #1124C7;
    padding-left: 20px;
    font-size: 27px;
}

.BtnExcluir{
    width: 240px;
    height: 60px;
    padding: 15px 60px;
    color: white;
    background-color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 33px;
    margin-top: 40px;
}

.TituloComentarios{
    margin-top: 40px;
    margin-bottom: 40px;
}

.Comentario{
    font-size: 25px;
    color: gray;
    width: 390px;
    height: 60px;
    border: 2px solid #1124C7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.ComentarioUsuario{
    font-weight: 700;
}

.ComentarioDescricao{
    font-weight: 300;
}

.FormAtt{
    margin-top: 120px;
}