.webcam-btn{
    width: 100%;
    height: 60px;
    background-color: blue;
    color: white;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-right: 50px;
}

.webcam-busca{
    margin-top: 30px;
}